Source: gxde-globalmenu-service
Section: utils
Priority: optional
Maintainer: SeptemberHX, gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 git, 
 cmake, 
 g++, 
 extra-cmake-modules, 
 libxcb-util-dev
Standards-Version: 4.6.2
Homepage: https://gitee.com/GXDE-OS/gxde-globalmenu-service

Package: gxde-globalmenu-service
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Breaks: dde-globalmenu-service
Replaces: dde-globalmenu-service
Description: DDE Global Menu Service Daemon
